@import url('https://fonts.googleapis.com/css?family=Montserrat:700,700i,800i,900i&display=swap');
:root {
  --color-primario: #0072D2;
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-amarillo: #ffcc00;
  --slider-size: 800px;
  --font: Montserrat, sans-serif;
  
}
/* CSS Textos */
h1{
  font-family: var(--font);
  font-weight: 900;
  font-style: italic;
  text-align: center;
  font-size: 5em;
  color: var(--color-negro);
  
}
h2{
  font-family: var(--font);
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-size: 3em;
  color: var(--color-negro);
  
}
#racing{
  background: var(--color-negro);
  border-radius: 5px;
  padding: 1em 2em;

  width: fit-content;
  height: auto;
  transform: skew(-20deg, 0);
  text-align: center;
margin-left: auto;
margin-right: auto;


}
#racing p{
  font-family: var(--font);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0em;
  color: var(--color-blanco);
  
}
#dominar{
  background: var(--color-amarillo);
  padding: 1em 2em;
  line-height: 0;
  width: fit-content;
  height: auto;
  transform: skew(-20deg, 0);
  text-align: center;
margin-left: auto;
margin-right: auto;

}
#dominar h2{
  font-size: 1.3em;
  margin: 0em;
}
.z1000 {
  color: #ffffff !important;
}


/* FIN CSS Textos */

/*fondos de los slider */
.bg-slider{
  background-image: url("image/bg-apache.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: var(--slider-size);
}
.bg-slider-2{
  background-image: url("image/bg-dominar.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: var(--slider-size);
}
.bg-slider-3{
  background-image: url("image/bg-z1000.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color: var(--color-primario);
  height: var(--slider-size);
}
.row-slider{
  height: var(--slider-size);
}
/* Fin fondos de los slider */

.col-center{
      float: none;
    margin: 0 auto;
}

.row-slider p{
  color: #fff;
  font-family: 'Roboto';
  font-weight: normal;
    font-style: normal;

}
/* Footer */
.derechos {
  background: var(--color-primario);
  text-align:center;
 text-decoration:none;
  font-weight: 300;
  color:#fff;
padding: 1em;
  margin:0em;

}
/* FIN Footer */

/* Responsive */
@media screen and (max-width:768px) {
  .row-slider {
   height: 100vh;
   display: flex;
   align-content: center !important;
    text-align: center;
  }
.bg-slider {
    height: 100vh;
    display: flex;
  }
  .bg-slider-2 {
    height: 100vh;
  }
  .bg-slider-3 {
    height: 100vh;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 1.5em;
  }
  .invertir{
    flex-wrap: wrap-reverse;
  }
  p{
    font-size: 0.8em;
  }
  #dominar h2{
    font-size: 0.8em;
  }
}
/* FIN Responsive */


.no-espacio{
  padding:0em !important ;
  margin:0em !important ;
}

/* Animaciones */
.bg-slider img{
  position: relative;
 left:0em;
  transform: scale(1);
  animation: Img-Izq 2s ease ;

}
.bg-slider-2 img{
  position: relative;
  right:0em;
  transform: scale(1);
  animation: Img-Dcha 2s ease !important;

}
.bg-slider-3 img{
  position: relative;
 left:0em;
  transform: scale(1);
  animation: Img-Izq 2s ease ;

}
.MovDcha{
  position: relative;
  right:0em;
  animation: MovDcha 1s ease;

}
.MovIzq{
  position: relative;
  left:0em;
  animation: MovIzq 1s ease;

}
.MovBajo{
  position: relative;
  bottom:0em;
  animation: MovBajo 1s ease;

}


@keyframes Img-Izq {
  0%   {left:-40em; transform:  scale(0,0);}
  15% {left: -40em; transform:  scale(0,0);}
  100% {left:0em;  transform:  scale(1);}
}

@keyframes Img-Dcha {
  0%   {right:-40em; transform:  scale(0,0);}
  15% {right: -40em; transform:  scale(0,0);}
  100% {right:0em;  transform:  scale(1);}
}

@keyframes MovDcha {
  0%   {right:-40em; transform:  scale(0,0);}
  15% {right: -40em; transform:  scale(0,0);}
  100% {right:0em;  transform:  scale(1);}
}

@keyframes MovIzq {
  0%   {left:-40em; transform:  scale(0,0);}
  15% {left: -40em; transform:  scale(0,0);}
  100% {left:0em;  transform:  scale(1);}
}
@keyframes MovBajo {
  0%   {bottom:-40em; transform:  scale(0,0) skew(-20deg, 0);}
  60% {bottom: -40em; transform:  scale(0,0) skew(-20deg, 0);}
  100% {bottom:0em;  transform:  scale(1) skew(-20deg, 0);}
}
/* FIN Animaciones */
