@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
:root {
  --color-primario: #0072D2;
  --color-segundo: #00B6C3;
  --color-Sg-dark: #0092A1;
  --color-Sg-white: #ffffff;
  --color-degrade: linear-gradient(to bottom, rgba(0,116,210,1) 0%, rgba(0,116,210,1) 49%, rgba(0,182,195,1) 100%);
  --color-degrade-2: #563d7c;
  --slider-size: 800px;
  
}
.bg-slider{
  background: var(--color-degrade);
  height: var(--slider-size);
}
.bg-slider-2{
  background: var(--color-degrade-2);
  height: var(--slider-size);
}
.bg-slider-3{
  background: #2B2B2B;
  color: var(--color-primario);
  height: var(--slider-size);
}
.tittle-slider{
  color:#FFF;
}
.col-center{
      float: none;
    margin: 0 auto;
}

.ac_subtittle{
  width:auto !important;
  overflow:hidden;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 75%;
  margin:0em;
}

.row-slider p{
  color: #fff;
  font-family: 'Roboto';
  font-weight: normal;
    font-style: normal;

}
.derechos {
  background: var(--color-primario);
  text-align:center;
 text-decoration:none;
  font-weight: 300;
  color:#fff;
padding: 1em;
  margin:0em;

}



.row-slider{
  height: var(--slider-size);
}

@media screen and (max-width:768px) {
  .row-slider {
   height: 100vh;
    text-align: center;
  }
.bg-slider {
    height: 100vh;
  }
  .bg-slider-2 {
    height: 100vh;
  }
  .bg-slider-3 {
    height: 100vh;
  }
}

.color-primario{
  color: var(--color-primario) !important;
}

.slider-text-dark{
 
 color: #2B2B2B !important ;
  font-family: 'Roboto';
  font-weight:00;
}

.no-espacio{
  padding:0em !important ;
  margin:0em !important ;
}
/* Animaciones */
img{
  position: relative;
  top:0em;
  transform: scale(1);
  animation: test 2s ease;

}
h1{
  position: relative;
  left:0em;
  animation: left-ani 1s ease;

}
p{
  position: relative;
  left:0em;
  animation: left-ani 1s ease ;
}

@keyframes test {
  0%   {top:-40em; transform:  scale(0,0);}
  30% {top: -40em; transform:  scale(0,0);}
  100% {top:0em;  transform:  scale(1);}
}

@keyframes left-ani {
  0%   {left:-15em;}
  100% {left:0em;}
}

